[Unit]
Description=Xremap is a key remapper for Linux. Unlike xmodmap, it supports app-specific remapping and Wayland.

[Service]
Type=simple
Environment=XREMAP_CONFIG=%h/.config/xremap/config.yml
Environment=DEVICE=/dev/input/event3
ExecStart=/usr/bin/xremap --device $DEVICE $XREMAP_CONFIG
Restart=always

[Install]
WantedBy=gnome-session-wayland@gnome.target
