[Unit]
Description=Xremap is a key remapper for Linux. Unlike xmodmap, it supports app-specific remapping and Wayland.

[Service]
Type=simple
Environment=XREMAP_CONFIG=%h/.config/xremap/config.yml
ExecStart=/usr/bin/xremap $XREMAP_CONFIG
Restart=always

[Install]
WantedBy=gnome-session-wayland@gnome.target
