[core]
excludesfile = "~/.gitignore"
pager = delta 

[user]
useConfigOnly = true

[column]
ui = auto

[push]
default = tracking

[branch "main"]
rebase = true

[branch "master"]
rebase = true

[alias]
b = branch -va
cl = clone --filter=blob:none
d = diff --stat -p -C
ds = diff --staged --stat -p -C
dt = difftool
patch = !git --no-pager diff --no-color
co = checkout
st = status -sb
pullr = pull --rebase

sl = branchless smartlog
sync = branchless sync
bco = branchless checkout
c = branchless checkout

ll = "log --pretty='format:%x1B[0;3;36m%as %G? %x1B[0;95;3m%<(12,trunc)%al %x1B[3;32m• %h%x1B[0;1;92m%(decorate:prefix= [,suffix=]%n)%>|(35)%Creset %s'"
lla = "log --graph --all --topo-order --pretty='format:\t%x1B[0;3;36m%as %x1B[0;95;3m%<(12)%al %x1B[3;32m• %h%x1B[0;1;92m%d%x1B[0m %s'"

guilt = "!f(){ git log --pretty='format:%an <%ae>' $@ | sort | uniq -c | sort -rn; }; f"
serve = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/

identity = "! git config user.name \"$(git config user.$1.name)\"; git config user.email \"$(git config user.$1.email)\"; git config user.signingkey \"$(git config user.$1.signingkey)\"; :"

[color]
ui = auto
branch = auto
diff = auto
status = auto

[apply]
whitespace = nowarn

[pack]
threads = 0

[blame]
date = relative

[delta]
file-added-label =  "[+]"
file-decoration-style=none
file-modified-label = "[*]"
file-removed-label = "[-]"
file-renamed-label = "[>]"
file-style = bold reverse 
file-transformation = "s/$/  ░▒▓/"
hunk-header-decoration-style=none
hunk-header-file-style = bold
hunk-header-line-number-style = bold
hunk-header-style = line-number bold
hunk-label = "⯁"
hunk-label-style = bold
line-numbers = true
max-line-distance = 0.9


[hub]
protocol = git

[http]
cookiefile = /home/lsjostrom/.gitcookies

[interactive]
diffFilter = delta --color-only --features=interactive

[credential]
helper = store

[gpg]
format = ssh

[gpg "x509"]
program = gitsign

[gpg "ssh"]
allowedSignersFile = ~/.ssh/authorized_keys
defaultKeyCommand = git-signing-key

[commit]
gpgsign = true

[user]
name = Lars Sjöström
email = lars@radicore.se

[init]
defaultBranch = main
