(
    selected_tab: Reset,
    command_fg: Rgb(44,54,60),
    selection_bg: Rgb(214,225,233),
    selection_fg: Rgb(44,54,60),
    cmdbar_extra_lines_bg: Rgb(247,245,240),
    cmdbar_bg: Rgb(247,245,240),
    disabled_fg: Rgb(44,54,60),

    diff_line_add: Rgb(129,199,132),
    diff_line_delete: Rgb(229,57,53),
    diff_file_added: Rgb(129,199,132),
    diff_file_removed: Rgb(229,57,53),
    diff_file_moved: Rgb(255,183,77),
    diff_file_modified: Rgb(255,183,77),

    commit_hash: Rgb(94,129,34),
    commit_time: Rgb(111,98,167),
    commit_author: Rgb(105,159,181),

    danger_fg: Rgb(222,0,45),
    push_gauge_bg: Rgb(247,245,240),
    push_gauge_fg: Rgb(44,54,60),
    tag_fg: Rgb(182,70,95),
    branch_fg: Rgb(140,24,49),
)
