(
    selected_tab: None,
    command_fg: Some(Rgb(44, 54, 60)),
    selection_bg: Some(Rgb(214, 225, 233)),
    selection_fg: Some(Rgb(44, 54, 60)),
    cmdbar_bg: Some(Rgb(247, 245, 240)),
    cmdbar_extra_lines_bg: Some(Rgb(247, 245, 240)),
    disabled_fg: Some(Rgb(44, 54, 60)),
    diff_line_add: Some(Rgb(129, 199, 132)),
    diff_line_delete: Some(Rgb(229, 57, 53)),
    diff_file_added: Some(Rgb(129, 199, 132)),
    diff_file_removed: Some(Rgb(229, 57, 53)),
    diff_file_moved: Some(Rgb(255, 183, 77)),
    diff_file_modified: Some(Rgb(255, 183, 77)),
    commit_hash: Some(Rgb(94, 129, 34)),
    commit_time: Some(Rgb(111, 98, 167)),
    commit_author: Some(Rgb(105, 159, 181)),
    danger_fg: Some(Rgb(222, 0, 45)),
    push_gauge_bg: Some(Rgb(247, 245, 240)),
    push_gauge_fg: Some(Rgb(44, 54, 60)),
    tag_fg: Some(Rgb(182, 70, 95)),
    branch_fg: Some(Rgb(140, 24, 49)),
)