(
    selected_tab: Reset,
    command_fg: Rgb(2, 119, 189),
    selection_bg: Rgb(225, 245, 254),
    cmdbar_extra_lines_bg: Rgb(2, 136, 209),
    disabled_fg: Rgb(109, 76, 65),
    diff_line_add: Rgb(56, 142, 60),
    diff_line_delete: Rgb(230, 74, 25),
    diff_file_added: Rgb(56, 142, 60),
    diff_file_removed: Rgb(230, 74, 25),
    diff_file_moved: Rgb(156, 39, 176),
    diff_file_modified: Rgb(255, 111, 0),
    commit_hash: Magenta,
    commit_time: Rgb(0, 131, 143),
    commit_author: Green,
    danger_fg: Red,
    push_gauge_bg: Blue,
    push_gauge_fg: Reset,
)
