[Desktop Entry]
Name=tmux local
GenericName=tmux-local
Type=Application
TryExec=kitty
Icon=kitty
Terminal=false
Categories=System;TerminalEmulator;
StartupWMClass=tmux-local
Exec=kitty --class tmux-local -e tmux new-session -A -D -s 0
