[Desktop Entry]
Name=wezterm-lsjostrom-dev
GenericName=wezterm-lsjostrom-dev
StartupWMClass=org.wezfurlong.wezterm
Type=Application
TryExec=/usr/bin/wezterm
Icon=org.wezfurlong.wezterm
Terminal=false
Categories=System;TerminalEmulator;
Exec=/usr/bin/wezterm --config 'default_prog={"autossh", "-M0", "-q", "lsjostrom-dev", "--", "tmux", "-u", "new", "-As0"}' start --class=wezterm-lsjostrom-dev
